.DS_Store
**/*.pyc
**/*.tar
**/*.npy
datasets/*
!datasets/loaders.py
**/__pycache__
**/model-300-3-direct
synth/rexgen_direct/data
synth/rexgen_direct/rank_diff_wln/model-core16-500-3-max150-direct-useScores/*
